<html>
	<body>
	  <form>
	    <h1>Libro.</h1>
		Autor:
			<input type="text" name="au" id="au"/><br>
	    Titulo:
			<input type="text" name="tit" id="tit"/><br>
		Isbn:
			<input type="number" name="is" id="is"/><br>
		<h1>Categoria.</h1>
		Nombre:
			<input type="text" name="nom" id="nom"/><br>
	    Descripcion:
			<input type="text" name="des" id="des"/><br>
		
		<input type="submit" name="btn" id="btn" values="Salvar"/><hr>
	  </form>
	  #{if u}
	  <h1>El guardo exitosamente </h1>
	  #{/if}
	</body>

</html>