<html>
	<body>
	  <form>
	  <h1>Cambio de autor y categoria</h1>
		nombre de autor existente:
			<input type="text" name="au1" id="au1"/><br>
	    nombre de autor nuevo:
			<input type="text" name="au2" id="au2"/><hr>
		nombre de la categoria existente:
		    <input type="text" name="nom1" id="nom1"/><br>
		nombre de la categoria nuevo:
		    <input type="text" name="nom2" id="nom2"/><hr>
		
		<input type="submit" name="btn" id="btn" values="Salvar"/><hr>
	  </form>
	  #{if u}
	  <h1>El autor se actualiso exitosamente </h1>
	  #{/if}
	</body>

</html>l>